<section class="">
  <!-- black background -->

  <div class="overflow-hidden whitespace-nowrap py-10 bg-black">
    <style>
      @keyframes slide {
        from {
          transform: translateX(0);
        }
        to {
          transform: translateX(-100%);
        }
      }
    </style>
    <div class="flex" style="animation: 25s slide infinite linear;">
      <img class="h-12 mx-9" src="/img/logos/cim.svg" alt="cim logo" />
      <img
        class="h-12 mx-9"
        src="/img/logos/google-ads.png"
        alt="google ads logo"
      />
      <img
        class="h-12 mx-9"
        src="/img/logos/wordpress.png"
        alt="wordpress logo"
      />
      <img
        class="h-12 mx-9"
        src="/img/logos/facebook-blueprint.png"
        alt="facebook blueprint logo"
      />
      <img class="h-12 mx-9" src="/img/logos/shopify.png" alt="shopify logo" />
      <img class="h-12 mx-9" src="/img/logos/webflow.png" alt="webflow logo" />
    </div>
  </div>

  <!-- white background -->

  <div class="flex overflow-hidden py-20 whitespace-nowrap bg-slate-300">
    <style>
      @keyframes slide {
        from {
          transform: translateX(0);
        }
        to {
          transform: translateX(-100%);
        }
      }
    </style>
    <div class="flex" style="animation: 20s slide infinite linear;">
      <img class="h-12 mx-9" src="/img/logos/bw.jpg" alt="bw logo" />
      <img class="h-12 mx-9" src="/img/logos/dtg.png" alt="dtg logo" />
      <img class="h-12 mx-9" src="/img/logos/oprema.jpg" alt="oprema logo" />
      <img class="h-12 mx-9" src="/img/logos/linda.png" alt="linda logo" />
      <img
        class="h-12 mx-9"
        src="/img/logos/edwards.png"
        alt="edwards electrical logo"
      />
      <img class="h-12 mx-9" src="/img/logos/pon.png" alt="" />
    </div>
  </div>
</section>
