<div class="absolute z-10 top-0 bottom-0 w-full h-full bg-black opacity-70">
</div>
<div
  class="absolute top-0 left-0 bottom-0 w-full h-full bg-cover bg-blue-950 flex items-center justify-center"
  style="background-image: url('img/background.webp');"
>
  <div class="z-20 text-center px-72">
    <h1 class="text-white text-5xl pb-8">
      We're a full service <br /> marketing agency
    </h1>
    <p class="text-white text-xl font-thin pb-7">
      Welcome to Mighty Duck Marketing. We're proud to be based in Wales but set
      up to <br /> work with companies all over the world who want to make a difference!
    </p>
    <button>Find our more about us</button>
  </div>
</div>
