---
import ServiceCard from './ServiceCard.astro';
---

<section
  class="w-full h-full grid grid-cols-6 auto-rows-[35 rem] gap-4 bg-red-600"
>
  <h1>Our Services</h1>
  <div class="">
    <ServiceCard class="" title="Web Design, SEO & PPC" />
    <ServiceCard class="" title="Branding & Creative" />
    <ServiceCard class="" title="Content & Media" />
    <ServiceCard class="" title="Strategy & Planning" />
    <ServiceCard class="" title="Training & Consultancy" />
    <ServiceCard class="" title="Social Media" />
  </div>
  <button>Find out more</button>
</section>
