---
import ServiceCard from './Service-card.astro';
---

<section
  class="w-full h-full grid grid-cols-6 auto-rows-[35 rem] gap-4 bg-red-600"
>
  <h1>Our Services</h1>
  <div class=""></div>
  <button>Find out more</button>
</section>
