---
interface Props {
  title: string;
}

const { title } = Astro.props;
import '@fontsource/fredoka-one';
import '@fontsource/lato';
import Hero from '../components/Hero.astro';
import Companies from '../components/Companies.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" />
    <title>{title}</title>
  </head>
  <body>
    <Hero />
    <Companies />
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --yellow-duck: #ffe600;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }

  h1,
  h2,
  button {
    font-family: 'Fredoka One', system-ui;
  }

  p {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
  }

  button {
    background-color: var(--yellow-duck);
    padding: 0.5em 4em;
    border-radius: 30px;
  }
  button:hover {
    background-color: black;
    color: var(--yellow-duck);
  }
</style>
